 
<!--<div class="container">
  <div class="row" id="top-section"> 
    <div class="col-xs-12 col-sm-offset-5">
        <h2> Account Settings </h2>
    </div> -->

       <!-- <form enctype="multipart/form-data" method="post" name="fileinfo">
        <div class="fileUpload">
                <div class="OnlyUpload">  
                    <input #fileInput type="file" id="btnUpload" value="Upload Files" class="btn btn-info" multiple  /> <!--(change)="fileChange($event)" -->
                    <!-- <button class="btn btn-info" (click)="upload(fileInput.files)">Change Photo</button>
                </div>            
        </div> -->

    <!-- </form>   -->

    <!-- <form enctype="multipart/form-data" method="post" name="fileinfo2">
        <div class="fileUpload">
            
                <div class="OnlyUpload">  
                    <input #fileInput type="file" id="btnUpload" value="Upload Files" class="btn btn-info" multiple  /> <!--(change)="fileChange($event)" -->
                    <!-- <button class="btn btn-info" (click)="uploadimage(fileInput.value)">Change Photo</button>
                </div>            
        </div>
    </form>  -->

   
    <!-- <div class="col-xs-5 col-sm-offset-5  "  onclick="performclick()" >
        <a class="profile-pic"  >
                      
            <div class="profile-pic" style="background-image: url('https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png')" >
                
                <span class="glyphicon glyphicon-camera"><br>edit</span>
                <span> Change Photo </span>
                <p>Change image</p>
                
            </div>
            <input type="file" id="theFile" />       
           
        </a>
         <a href="#" onclick="$('#imgupload').trigger('click'); return false;">Edit photo </a> -->
      <!-- <input type="file" id="myFile"> -->
      
<!--       
    </div>   
  </div>
</div>  

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">        
      </div>
      <div class="col-xs-2 col-sm-offset-2"><b>Name </b></div>
      <div class="col-xs-6">{{ first }} {{ last }} </div>
      <div class="col-xs-2">
          <button class="btn btn-primary" id="alertMe"  type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapseExample">
              <i class="glyphicon glyphicon-edit"></i><span class="button-text"> Edit</span>
          </button>
      </div> -->
<!-- 
    <div class="row">
        <div class="alert alert-block fade in" id="successAlert">   
            <div class="col-xs-6 col-sm-offset-3">
                <div class="collapse" id="collapse1">
                    <div class="card card-block">
                        <form>

                            <div class="form-group" >
                                <label for="firstname">First Name</label>    
                                <input #firstname  type="text" class="form-control" name="firstname" placeholder="Enter FirstName" [(ngModel)]="first" />
                                <label for="lastname">Last Name</label>    
                                <input #lastname type="text" class="form-control" name="lastname" placeholder="Enter LastName" [(ngModel)]="last" />
                          
                          
                          
                          
                            </div>

                            <div class="form-group">
                                <button [disabled]="loading" (click)="update(firstname.value,lastname.value)" class="btn btn-info">Save Changes</button>
                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                                />
                                <button class="btn btn-primary close" data-dismiss="alert">Cancel</button>
                            </div> -->
        
                        <!-- </form> 
                    </div>end of card block -->
                <!-- </div>end of collapse -->
            <!-- </div>end of col -->
        <!-- </div>end of alert -->
    <!-- </div>end of row -->
      



    
    <!-- <div class="col-xs-2 col-sm-offset-2"><b>User Name </b></div>
    <div class="col-xs-6">{{ user }} </div>
    <div class="col-xs-2">
          <button class="btn btn-primary" id="alertMe" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseExample">
              <i class="glyphicon glyphicon-edit"></i><span class="button-text"> Edit</span>
          </button>
    </div>     
     -->
    <!-- <div class="row">
    <div class="alert alert-block fade in" id="successAlert">   
    <div class="col-xs-6 col-sm-offset-3">
        <div class="collapse" id="collapse2">
            <div class="card card-block">
              <form>
                  <div class="form-group" >
                      <label for="userName">User Name</label>    
                      <input type="text" class="form-control" name="username" placeholder="Enter username"  />
                  </div>
                  <div class="form-group">
                      <button [disabled]="loading" class="btn btn-info">Save Changes</button>
                      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                      />
                      <button class="btn btn-primary close" data-dismiss="alert">Cancel</button>
                    </div>

              </form>  -->
 

<!-- 
            </div>
        </div>
    </div>
     </div>     
    </div>
    </div>  
    <br>
    
   
    <div class="col-xs-2 col-sm-offset-2" ><b>Email</b> </div>
    <div class="col-xs-6">{{ email }} </div>
    <div class="col-xs-2">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapseExample">
            <i class="glyphicon glyphicon-edit"></i><span class="button-text"> Edit</span>
        </button>    
    </div> -->

    <!-- <div class="alert alert-block fade in" id="successAlert">   
            
    <div class="col-xs-6 col-sm-offset-3">
        <div class="collapse" id="collapse3">
            <div class="card card-block">
              <form>
                  <div class="form-group" >
                      <label for="email">Email ID</label>    
                      <input #Email type="text" class="form-control" name="email" placeholder="Enter Email ID" [(ngModel)]="email"/>
                  </div>
                  <div class="form-group">
                      <button [disabled]="loading" (click)="updateemail(Email.value)" class="btn btn-info">Save Changes</button>
                      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                      />
                      <button class="btn btn-primary close" data-dismiss="alert">Cancel</button>
                    </div>

              </form> 



            </div>
        </div>
    </div>
    </div>


  </div>
</div>

<div class="col-xs-2 col-sm-offset-2" >Conatct </div>
<div class="col-xs-6">{{ contactNo }}</div>
<div class="col-xs-2">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseExample">
        <i class="glyphicon glyphicon-edit"></i><span class="button-text"> Edit</span>
    </button>    
</div>

<div class="row">
        <div class="alert alert-block fade in" id="successAlert">   
            <div class="col-xs-6 col-sm-offset-3">
                <div class="collapse" id="collapse4">
                    <div class="card card-block">
                        <form>

                            <div class="form-group" >
                                <label for="contactNo">Contact </label>    
                                <input #contact type="text" class="form-control" name="contactNo" placeholder="" [(ngModel)]="contactNo" />
                    
                            </div>

                            <div class="form-group">
                                <button [disabled]="loading" (click)="updatecontact(contact.value)" class="btn btn-info">Save Changes</button>
                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                                />
                                <button class="btn btn-primary close" data-dismiss="alert">Cancel</button>
                            </div>
        
                        </form>  -->
                    <!-- </div><!--end of card block-->
                <!-- </div>end of collapse -->
            <!-- </div>end of col -->
        <!-- </div>end of alert -->
    <!-- </div>end of row --> 
   
<!-- 

<script type="text/javascript">
function performClick(elemId) {
   var elem = document.getElementById(elemId);
   if(elem && document.createEvent) {
      var evt = document.createEvent("MouseEvents");
      evt.initEvent("click", true, false);
      elem.dispatchEvent(evt);
   }
}
</script>
    
</body> -->


<!-- <form enctype="multipart/form-data" method="post" name="fileinfo">
    <div class="fileUpload">
            <div class="OnlyUpload">  
                <input #fileInput type="file" id="btnUpload" value="Upload Files" class="btn btn-info" multiple  /> <!--(change)="fileChange($event)" -->
                <!-- <button class="btn btn-info" (click)="upload(fileInput.files)">Change Photo</button>
            </div>            
    </div>

</form>   --> 


<!-- <div id="profile-container">
    <img id="profileImage" src="http://lorempixel.com/100/100" />
 </div>
 <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture> -->

 



 <mat-card class="example-card">
    <!--<img mat-card-image class="image" id="dp" src="https://www.torn.com/images/profile_man.jpg" alt="Photo">-->
    <a class="profile-pic">
         <div class="profile-pic" id="fileUpload" [style.backgroundImage]=" 'url(https://s3.ap-south-1.amazonaws.com/testinsight95/' + photo +' )'" >
             <i class="material-icons">camera</i>
             <!--<input #fileInput type="file" id="btnUpload" value="Change Photo" style="visibility: hidden;" multiple />-->
           <!-- <button id="btnupload" md-mini-fab type="button" onclick="document.getElementById('fileToUpload').click()">
                 <label for="fileToUpload"><md-icon>add</md-icon></label>
             </button>-->
               <!--<input id="fileToUpload" type="file" style="display:none;">-->
         </div>
       </a>
    <mat-card-content id="content">
    
        <mat-form-field >
    
            <input #nameBox matInput placeholder="Name"  value="{{first}} {{last}}" />
            
        </mat-form-field>
        
        <mat-form-field >
            <input #emailBox matInput placeholder="Email" value="{{email}}" >
        </mat-form-field>
        <mat-form-field>
            <input #passwordBox matInput placeholder=" Password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix id="password-hide" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        
        <mat-form-field >
            <input #contactBox matInput placeholder="Contact Number" value={{contactNo}} >
        </mat-form-field>
        
        <mat-form-field >
            <input #dobBox matInput placeholder="Date of Birth" value="02-Dec-1995" >
        </mat-form-field>
        
 
 
 
     <!-- <div class="signup-w3ls">   
        <div class="signup-agile1">
         <img height="100" width="100" id="profile" src="http://santetotal.com/wp-content/uploads/2014/05/default-user.png" alt="profile-image" />
            <form action="#" method="post">
    
                <div class="form-control"> 
                    <label class="header">Profile Photo:</label>
    
                    <input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture>
                </div>
       
                <br>
                <br>

            </form>
    
        </div>
    </div>  

     -->
   

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"> -->
    <!-- // $("#profileImage").click(function(e) {
    //     $("#imageUpload").click();
    // });
    
    // function fasterPreview( uploader ) {
    //     if ( uploader.files && uploader.files[0] ){
    //           $('#profileImage').attr('src', 
    //              window.URL.createObjectURL(uploader.files[0]) );
    //     }
    // }
    
    // $("#imageUpload").change(function(){
    //     fasterPreview( this );
    // });

    // $("#image").change(function(){
    //     readURL(this);
    //     console.log("test");
    //     //other uploading proccess [server side by ajax and form-data ]
    // });

    //     function readURL(input) {
    //     if (input.files && input.files[0]) {
    //         var reader = new FileReader();
            
    //         reader.onload = function (e) {
    //             $('#profile').attr('src', e.target.result);
    //         }
            
    //         reader.readAsDataURL(input.files[0]);
    //     }
    // }

    </script> -->
<br>

    <input type="text" class="form-control" id="name"
    required
    [(ngModel)]="model.name" name="name"
    #test>
   <br>TODO: remove this: {{test.className}}
   
   