



.mat-form-field {
    width: 100%;
}
.form-group{
    display:inline;
}
#sendemail {
    background-color: rgb(80, 17, 134)C;

   

}
#cancel{
    
    background-color: rgb(80, 17, 134);
    position:relative;
    left:70px;
   
}

@media (min-width:300px) and (max-width:768px) {
    .mat-form-field {
        width: 100%;
    }
    .container1 {
        
        margin-top: 40%;
        height: 70%;
        width: 70%;
        margin-left: 10%;
    }
    #sendemail {
        background-color: rgb(80, 17, 134) ;
        
        margin-top: 0px;
        margin-left: 25%;
        margin-bottom: 5%;
        width:100px;
        

    }
    #Cancel{
        background-color:  rgb(80, 17, 134);
        margin-left: 25%;
        margin-top: 5%;
        width:150px;
       
        
        
    }
}