.btn-primary {
    background-color: #6d7fcc;
}

.btn-lg {
    background-color: #6d7fcc;
}

.glyphicon.glyphicon-star-empty {
    font-size: 35px;
}

.glyphicon.glyphicon-star {
    font-size: 35px;
}