<header>
    <nav class="navbar-inverse">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
  </button>


            <a class="navbar-brand" href="#">InSight</a>
            <app-searchbar></app-searchbar>
        </div>

        <div class="collapse navbar-collapse navbar-inverse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <div *ngIf="currentUser">
                    <div id="one">Hi {{currentUser.firstName}}!! </div>
                    <a href="" (click)="signOut()" id="one">Logout</a>
                </div>
                <div *ngIf="user">
                    <div id="one">Hi {{ user.firstName }}!!</div>
                    <a href="" (click)="signOutfacebook()" id="one">Logout</a>
                </div>
                <div *ngIf="googleuser">
                    <div id="one">Hi {{ googleuser.name }}!!</div>
                    <a href="" (click)="signOutgoogle()" id="one">Logout</a>
                </div>

            </ul>
        </div>
    </nav>
</header>