@media screen and (max-width:375px) {
    #image {
        display: none;
    }
}

#one {
    color: white;
}

.navbar-inverse {
    background-color: #020202;
    padding: 5px;
}

@media(min-width: 1024px) {
    #image {
        padding-right: 100px;
    }
}